# Projeto de Bases de Dados - Parte 3

### Docente Responsável

Prof. Flávio Martins

### Grupo 45
<dl>
    <dt>x horas (33%)</dt>
    <dd>ist1103902 Luís Pereira</dd>
    <dt>x horas (33%)</dt>
    <dd>ist1103091 Pedro Curto</dd>
    <dt>x horas (33%)</dt>
    <dd>ist1102664 Pedro Sousa</dd>
<dl>

In [1]:
%load_ext sql
%sql postgresql://db:db@postgres/db

# Empresa de comércio online

## 0. Carregamento da Base de Dados

Carregue o esquema de Base de Dados apresentado no Anexo A.

In [8]:
%sql --file schema.sql

Running query in 'postgresql://db:***@postgres/db'

Crie as instruções para o seu preenchimento de forma consistente, garantindo que todas as consultas SQL e OLAP, apresentadas mais adiante, produzam um resultado não vazio.

In [9]:
%sql --file populate.sql

Running query in 'postgresql://db:***@postgres/db'

9 rows affected.

13 rows affected.

6 rows affected.

9 rows affected.

11 rows affected.

9 rows affected.

12 rows affected.

6 rows affected.

6 rows affected.

9 rows affected.

10 rows affected.

29 rows affected.

9 rows affected.

9 rows affected.

## 1. Restrições de Integridade

Apresente o código para implementar as seguintes restrições de integridade, se necessário, com recurso a extensões procedimentais SQL (Stored Procedures e Triggers):

(RI-1) Nenhum empregado pode ter menos de 18 anos de idade

In [ ]:
%%sql
ALTER TABLE employee 
ADD CONSTRAINT check_employee_age 
CHECK (EXTRACT(YEAR FROM age(bdate)) >= 18);

(RI-2) Um 'Workplace' é obrigatoriamente um 'Office' ou 'Warehouse' mas não pode ser ambos

In [ ]:
%%sql
CREATE OR REPLACE FUNCTION check_workplace() RETURNS TRIGGER AS $$
BEGIN
    IF (NEW.address NOT IN (SELECT address FROM office) AND NEW.address NOT IN (SELECT address FROM warehouse)) THEN
        RAISE EXCEPTION 'A workplace must be either an Office or a Warehouse.';
    END IF;
    IF (NEW.address IN (SELECT address FROM office)) AND (NEW.address IN (SELECT address FROM warehouse)) THEN
        RAISE EXCEPTION 'A workplace cant be an Office and a Warehouse at the same time.';
    END IF;
    
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE OR REPLACE TRIGGER workplace_checker BEFORE INSERT OR UPDATE ON workplace
    FOR EACH ROW EXECUTE FUNCTION check_workplace();

(RI-3) Uma 'Order' tem de figurar obrigatoriamente em 'Contains'.

In [ ]:
%%sql

-- Verifica a constraint de foreign key na tabela contains apenas no final da transação
ALTER TABLE contains
ALTER CONSTRAINT contains_order_no_fkey DEFERRABLE INITIALLY DEFERRED;

-- SELECT 1, uma vez que basta existir uma row em contains para satisfazer a condição
CREATE OR REPLACE FUNCTION check_order_contains() RETURNS TRIGGER AS $$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM contains WHERE order_no = NEW.order_no) THEN
        RAISE EXCEPTION 'Order must appear in Contains table.';
    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE OR REPLACE TRIGGER ensure_contains_trigger
AFTER INSERT OR UPDATE ON orders
FOR EACH ROW
EXECUTE FUNCTION check_order_contains();

## 2. Consultas SQL

Apresente a consulta SQL mais sucinta para cada uma das seguintes questões

1) Qual o número e nome do(s) cliente(s) com maior valor total de encomendas pagas?

In [ ]:
%%sql

SELECT c.cust_no, c.name
FROM customer c
JOIN pay USING(cust_no)
JOIN orders USING(order_no)
JOIN contains USING(order_no)
JOIN product USING(SKU)
GROUP BY c.cust_no HAVING SUM(qty*price) >=ALL(
    SELECT SUM(qty*price)
    FROM customer c
    JOIN pay USING(cust_no)
    JOIN orders USING(order_no)
    JOIN contains USING(order_no)
    JOIN product USING(SKU)
    GROUP BY c.cust_no
);

2. Qual o nome dos empregados que processaram encomendas em todos os dias de 2022 em que houve encomendas?

In [ ]:
%%sql

SELECT DISTINCT e.name
FROM employee e
JOIN process USING(ssn)
JOIN orders USING(order_no)
WHERE NOT EXISTS(
    SELECT o1.date
    FROM orders o1
    WHERE EXTRACT(YEAR FROM o1.date) = 2022
    EXCEPT
    SELECT o2.date
    FROM orders o2
    JOIN process p USING(order_no)
    WHERE e.ssn = p.ssn
);

3. Quantas encomendas foram realizadas mas não pagas em cada mês de 2022?

In [ ]:
%%sql

SELECT TO_CHAR(o.date, 'Month') AS month, COUNT(*)
FROM orders o
WHERE EXTRACT(YEAR FROM o.date) = 2022
AND o.order_no NOT IN (
    SELECT p.order_no 
    FROM pay p
)
GROUP BY o.date
ORDER BY o.date;

## 3. Vistas

Crie uma vista que resuma as informações mais importantes sobre as vendas de produtos, combinando informações de diferentes tabelas do esquema de base de dados. A vista deve ter o seguinte esquema:

product_sales(sku, order_no, qty, total_price, year, month, day_of_month, day_of_week, city)

In [ ]:
%%sql
CREATE OR REPLACE VIEW product_sales AS
SELECT
    p.SKU,
    o.order_no,
    c.qty,
    (c.qty * p.price) AS total_price,
    EXTRACT (YEAR FROM o.date) AS year,
    EXTRACT (MONTH FROM o.date) AS month,
    EXTRACT (DAY FROM o.date) AS day_of_month,
    EXTRACT (DOW FROM o.date) + 1  AS day_of_week,
    SUBSTRING(cust.address FROM '\d{4}-\d{3} (.+)$') AS city 
    
FROM
    orders o
    JOIN contains c ON o.order_no = c.order_no
    JOIN product p ON c.SKU = p.SKU
    JOIN customer cust ON o.cust_no = cust.cust_no;

SELECT * FROM product_sales;

## 4. Desenvolvimento de Aplicação

### Explicação da arquitetura da aplicação web, incluindo um link para uma versão de trabalho e as relações entre os vários ficheiros na pasta web/arquivos

- No contexto da aplicação web que desenvolvemos, o utilizador será uma espécie de "gestor", que consegue visualizar todos os produtos e as suas informações, tal como os fornecedores e as suas informações, os clientes, e todas as orders. É de notar que se utiliza a função render_template() para renderizar as páginas HTML a partir do script python da aplicação, sendo então as páginas renderizadas em runtime. 

A **segurança da solução** relativamente à sua prevenção de ataques por SQL INJECTION é feita essencialmente através de prepared statements, que minimiza o risco de ataque comparando literalmente a string recebida, não correndo o risco do valor da string ser utilizado como objeto de queries. 

A **atomicidade das operações** é assegurada uma vez que as queries são executadas dentro de blocos iniciados por (with pool.connection() as conn), que representa uma transação em que, se alguma das queries dentro desse bloco falhar, existe um rollback automático da transação (nada é commited para a base de dados), e a coerência dos dados é mantida; se todas as queries forem bem sucedidas, o bloco é self-closing e dá commit automaticamente para a base de dados. 

Na descrição da aplicação abaixo, sempre que se mencionar uma redireção de página, aparecerá à frente em parênteses o ficheiro HTML em que se dá render para dar display ao conteúdo pretendido. Os erros ao inserir produtos, fornecedores e clientes e criar encomendas são em geral apresentados através de flash() e uma mensagem elucidativa do erro na mesma página. 

Se as operações forem bem sucedidas (de criação, inserção e remoção), na página inicial do menu correspondente é também apresentada uma mensagem a confirmar o sucesso da operação.
- A landing page da aplicação é a mesma página que dá display a todos os produtos (/products/index.html), sendo que aparece descrito em cada um o seu nome, SKU, preço, descrição e número EAN, além de um botão Edit e Delete. No topo da página aparece o nome da aplicação, seguido de uma barra de seleção da página (as opções são Products, Supliers, Customers e Orders). Na página products, é possível o utilizador:
1) **Editar um produto**, sendo redirecionado para uma página (/products/update.html) onde aparece o SKU do produto que está a editar. Pode alterar o preço e descrição do produto, e de seguida salvar e é redirecionado para a página inicial.
2) **Apagar um produto** - esta operação implica que vão ser apagadas todas as entradas desse produto na tabela contains, e por opção de simplicidade, todos os fornecedores que estejam associados a este produto passam a não fornecer produto nenhum.
3) **Inserir um novo produto** - na nova página (/products/create.html), o utilizador deve inserir um SKU (que ainda não exista), um nome, um preço decimal e opcionalmente uma descrição e um EAN number. Para concluir a operação, deve premir o botão Create Product, e se for bem sucedida, retorna à página inicial.

- De seguida, está disponível a página suppliers (/suppliers/index.html). É apresentada informação para cada fornecedor relativamente ao seu nome, TIN, endereço, SKU do produto que fornece e data do contrato, além de lhe estar associado um botão de Delete. Aqui, é possível o utilizador:
1) **Apagar um fornecedor**, que implica apagar todas as entradas da tabela delivery que dependam desse fornecedor, e de seguida apagar o próprio fornecedor.
2) **Inserir um novo fornecedor** - na nova página (/suppliers/create.html), o utilizador deve inserir um TIN (que ainda não exista), o nome do fornecedor, um endereço válido (rua [...] xxxx-xxx localidade), o SKU do produto que fornece (tem de existir na base de dados), e a data em que celebrou o contrato. Para o inserir, deve premir o botão no fim da página, e em caso de sucesso é redirecionado para a página inicial dos fornecedores.

- Na terceira opção do menu, é possível aceder à página dos clientes (/customers/index.html). Para cada cliente, apresenta-se o seu nome, número único que o identifica, o seu email, número de telefone e endereço, além de existir um botão de Delete individual. É possível o utilizador:
1) **Apagar um cliente** - esta é uma operação muito impactante na base de dados, uma vez que implica apagar todas as dependências diretas e indiretas da tabela customers - apagam-se todas as entradas das tabelas orders e contains que dependam deste cliente, e ainda das tabelas process e contains que dependessem das entradas removidas da tabela orders. Por fim, remove-se o cliente.
2) **Inserir um novo cliente** - na nova página (/customers/create.html), informa-se o cliente do número que o identificará (gerado automaticamente), e deve ser inserido o nome do cliente, um email válido(name@domain), um telemóvel válido (nove dígitos numéricos) e por fim um endereço válido (rua [...] xxxx-xxx localidade). A operação conclui-se pressionando o botão no final da página, e exceto algum erro, redireciona-se para a página inicial dos clientes.

## 5. Consultas OLAP

Usando a vista desenvolvida para a Questão 3, escreva duas consultas SQL que permitam analisar:

1. As quantidade e valores totais de venda de cada produto em 2022, globalmente, por cidade, por mês, dia do mês e dia da semana

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS data_dim AS
SELECT
    EXTRACT(YEAR FROM dd) AS year,
    EXTRACT(MONTH FROM dd) AS month,
    EXTRACT(DAY FROM dd) AS day_of_month,
    EXTRACT(DOW FROM dd) +1 AS day_of_week
FROM
    GENERATE_SERIES(
        '2022-01-01'::DATE,
        '2022-12-31'::DATE,
        '1 day'::INTERVAL
    ) dd;


SELECT
    dd.year,
    dd.month,
    dd.day_of_month,
    dd.day_of_week,
    ps.sku,
    ps.city,
    SUM(ps.qty) AS total_qty,
    SUM(ps.total_price) AS total_value
FROM
    data_dim dd
LEFT JOIN product_sales ps ON dd.year = 2022
    AND dd.month = ps.month
    AND dd.day_of_month = ps.day_of_month
    AND dd.day_of_week = ps.day_of_week
GROUP BY GROUPING SETS(
  ((dd.year, ps.city), (dd.month,ps.city), (dd.day_of_month,ps.city), (dd.day_of_week,ps.city), (ps.sku,ps.city))
    )
ORDER BY
    dd.year,
    ps.city,
    dd.month,
    dd.day_of_month,
    dd.day_of_week,
    ps.sku;

2. O valor médio diário das vendas de todos os produtos em 2022, globalmente, por mês e dia da semana

In [ ]:
%%sql
-- SELECT ...

## 6. Índices

Indique, com a devida justificação, que tipo de índice(s), sobre qual(is) atributo(s) e sobre qual(is) tabela(s) faria sentido criar, de forma a agilizar a execução de cada uma das seguintes consultas:

### 6.1
SELECT order_no
FROM orders 
JOIN contains USING (order_no) 
JOIN product USING (SKU) 
WHERE price > 50 AND 
EXTRACT(YEAR FROM date) = 2023

### Tipo de Índice, Atributos & Justificação

...

### 6.2
SELECT order_no, SUM(qty*price)
FROM contains 
JOIN product USING (SKU) 
WHERE name LIKE ‘A%’ 
GROUP BY order_no;

### Tipo de Índice, Atributos & Justificação

...