# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. FirstName LastName

### Grupo GG
<dl>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
<dl>

# Empresa de comércio online

## 1 Conversão E-A para Modelo Relacional

Recorde a notação para o Modelo Relacional exposta nas aulas teóricas como se segue:

- relacaoA (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)
- relacaoB (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)

1. As relações são expressas por um nome seguido dos atributos entre parêntesis;
    - As chave primárias são expressas sublinhando os atributos que a compõem;
    - As chaves estrangeiras para outras relações são expressas através da lista de atributos que a compõem, seguida de “: FK(RelacaoDestino)”. A ordem dos atributos que compõem a FK deve corresponder à ordem dos atributos da chave na relação destino;
    - As chaves candidatas são expressas através da expressão “unique”, seguida da lista de atributos que a compõem entre parêntesis;
    - As restrições de integridade ao Modelo Relacional são descritas em termos dos conceitos deste modelo.

### 1.1 Modelo Relacional com Restrições de Integridade

1. Desenvolva um Modelo Relacional correspondente ao modelo Entidade-Associação;
2. Complemente a seu Modelo Relacional com um conjunto de Restrições de Integridade que represente o modelo E-A apresentado com a maior fidelidade.

- Employee(<u>ssn</u>, TIN, bdate, name)
    - UNIQUE(TIN)
- Workplace(<u>address</u>, lat, long)
    - UNIQUE(lat, long)
- Department(<u>name</u>)
- works(<u>ssn</u>, <u>address</u>, <u>name</u>)
    - ssn: FK(Address)
    - address: FK(Workplace)
    - name: FK(Department)
- Office(<u>address</u>)
- Warehouse(<u>address</u>)
- Product(<u>sku</u>, name, description, price)
- Supplier(<u>TIN</u>, name, address, sku, date)
    - sku: FK(Product) NOT NULL
- EAN Product(<u>sku</u>, ean)
- delivery()
- Order(<u>order_no</u>, date)
- contains()
- Customer(<u>cust_no</u>, name, email, phone, address)
    - UNIQUE(email)




IC-1: Todas as chaves ssn em Employee têm de existir em works.
IC-2: Todas as chaves sku em Product têm de existir em Supplier.

### 1.2 Restrições de Integridade não passíveis de conversão

Identifique todas as Restrições de Integridade do modelo Entidade-Associação apresentado que não são passíveis de conversão para o modelo relacional.

## 2 Algebra Relacional

Recorde a notação exposta nas aulas teóricas como se segue:

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

#### Simbolos
- $\cup$ union 			
- $\cap$ intersection 		
- $-$ difference 		
- $\times$ cartesian product 
- $\div$ division 			
- $\rho$ rename 			
- $\bowtie$ natural join 		
- $\wedge$ Logical AND 	
- $\vee$ Logical OR 	
- $\neg$ Logical NOT 	

Considerando o modelo relacional desenvolvido, apresente as expressões algébricas correspondentes a cada uma das seguintes interrogações:

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

$\Pi_{customer.name} \big( \sigma_{order.date="2023"} (order \bowtie product) \big)$

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

$\Pi_{employee.name} \big( \sigma_{workplace.address=Warehouse - workplace.address=Office}(works) \bowtie \sigma_{order.date="January 2023"} (process)  \big)$

3. Indique o nome do produto mais vendido;

$\Pi_{product.name} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

4. Indique o valor total de cada venda realizada.

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

## 3 Tradução do Modelo Relacional para SQL

### 3.1 Esquema Relacional (schema.sql)

Crie uma base de dados SQL correspondente ao esquema Relacional desenvolvido no ponto anterior.
Utilizando a linguagem SQL (DDL), apresente as instruções para criar o esquema de bases de dados correspondente ao modelo relacional desenvolvido. Deve certificar-se de que os tipos de dados e tamanhos de campo selecionados sejam os mais apropriados. As restrições aplicáveis a cada campo, linha e tabela também devem ser especificadas recorrendo às instruções NOT NULL, CHECK, PRIMARY KEY, UNIQUE e FOREIGN KEY conforme seja apropriado.


Nota: Apresente todas as restrições existentes no modelo Relacional que não podem ser capturadas (implementadas) no esquema SQL, escrevendo-as como comentários na tabela respectiva.

In [ ]:
%load_ext sql
%sql postgresql://db:db@postgres/db

In [ ]:
%%sql
-- schema.sql

-- DROP TABLE ...
-- CREATE TABLE ...

### 3.2 Carregamento da Base de Dados

Crie um script SQL (DML) com todas as instruções INSERT necessárias para criar alguns dados de teste sintéticos para facilitar a validação dos resultados esperados das consultas (lembre-se de que cada tabela deve conter pelo menos uma linha e que todas as consulta têm de retornar um resultado não vazio).

In [ ]:
%%sql
-- populate.sql

-- INSERT ...

## 4 Linguagem SQL

Apresente a expressão SQL correspondente  a cada uma das interrogações de Álgebra Relacional.

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

In [ ]:
%%sql

-- SELECT ...

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

In [ ]:
%%sql

-- SELECT ...

3. Indique o nome do produto mais vendido;

In [ ]:
%%sql

-- SELECT ...

4. Indique o valor total de cada venda realizada.

In [ ]:
%%sql

-- SELECT ...