# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. Flávio Martins

### Grupo 45 - Turno BD2L19
<dl>
    <dt>5 horas (33.3%)</dt>
    <dd>ist1103902 Luís Pereira</dd>
    <dt>5 horas (33.3%)</dt>
    <dd>ist1103091 Pedro Curto</dd>
    <dt>5 horas (33.3%)</dt>
    <dd>ist1102664 Pedro Sousa</dd>
<dl>

# Empresa de comércio online

## 1 Conversão E-A para Modelo Relacional

Recorde a notação para o Modelo Relacional exposta nas aulas teóricas como se segue:

- relacaoA (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)
- relacaoB (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)

1. As relações são expressas por um nome seguido dos atributos entre parêntesis;
    - As chave primárias são expressas sublinhando os atributos que a compõem;
    - As chaves estrangeiras para outras relações são expressas através da lista de atributos que a compõem, seguida de “: FK(RelacaoDestino)”. A ordem dos atributos que compõem a FK deve corresponder à ordem dos atributos da chave na relação destino;
    - As chaves candidatas são expressas através da expressão “unique”, seguida da lista de atributos que a compõem entre parêntesis;
    - As restrições de integridade ao Modelo Relacional são descritas em termos dos conceitos deste modelo.

### 1.1 Modelo Relacional com Restrições de Integridade

1. Desenvolva um Modelo Relacional correspondente ao modelo Entidade-Associação;
2. Complemente a seu Modelo Relacional com um conjunto de Restrições de Integridade que represente o modelo E-A apresentado com a maior fidelidade.

- Employee(<u>ssn</u>, TIN, bdate, name)
    - UNIQUE(TIN)
- Workplace(<u>address</u>, lat, long)
    - UNIQUE(lat, long)
- Department(<u>name</u>)
- works(<u>ssn</u>, <u>address</u>, <u>name</u>)
    - ssn: FK(Address)
    - address: FK(Workplace)
    - name: FK(Department)
- Office(<u>address</u>)
    - address: FK(Workplace)
- Warehouse(<u>address</u>)
    - address: FK(Workplace)
- Product(<u>sku</u>, name, description, price)
- Supplier(<u>TIN</u>, name, address, sku, date)
    - sku: FK(Product) NOT NULL
- EAN Product(<u>sku</u>, ean)
    - sku: FK(Product)
- delivery(<u>address</u>, <u>sku</u>, <u>TIN</u>)
    - address: FK(Workplace)
    - sku: FK(Product)
    - TIN: FK(Supplier)
- Customer(<u>cust_no</u>, name, email, phone, address)
    - UNIQUE(email)
- Order(<u>order_no</u>, date, cust_no)
    - cust_no: FK(Customer) NOT NULL
- process(<u>ssn</u>, <u>order_no</u>)
    - ssn: FK(Employee)
    - order_no: FK(Order)
- contains(<u>order_no</u>, <u>sku</u>, qty)
    - order_no: FK(Order)
    - sku: FK(Product)
- Sale(<u>order_no</u>, cust_no)
    - order_no: FK(Order)
    - cust_no: FK(Customer) NOT NULL

### 1.2 Restrições de Integridade não passíveis de conversão

Identifique todas as Restrições de Integridade do modelo Entidade-Associação apresentado que não são passíveis de conversão para o modelo relacional.

IC-1: Any ssn in Employee must exist in works.

IC-2: Any sku in Product must exist in Supplier. 

IC-3: Any order_no in Order must exist in contains.

IC-4: When a Workplace is removed it must also be removed from Office and/or Warehouse.

IC-5: When a Product is removed it must also be removed from EAN Product.

IC-6: When an Order is removed it must also be removed from Sale.

IC-7: Customers can only pay for the Sale of an Order they have placed themselves.

## 2 Algebra Relacional

Recorde a notação exposta nas aulas teóricas como se segue:

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

#### Simbolos
- $\cup$ union 			
- $\cap$ intersection 		
- $-$ difference 		
- $\times$ cartesian product 
- $\div$ division 			
- $\rho$ rename 			
- $\bowtie$ natural join 		
- $\wedge$ Logical AND 	
- $\vee$ Logical OR 	
- $\neg$ Logical NOT 	

Considerando o modelo relacional desenvolvido, apresente as expressões algébricas correspondentes a cada uma das seguintes interrogações:

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

$\Pi_{customer.name} \big( (\sigma_{order.date="2023"} (order) \bowtie  \sigma_{product.price>50} (product)) \bowtie customer \big)$

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

$\Pi_{employee.name} \big( (\sigma_{workplace.address=Warehouse - workplace.address=Office}(works) \bowtie \sigma_{order.date="January 2023"} (process)) \bowtie employee  \big)$

3. Indique o nome do produto mais vendido;

$\Pi_{name}(Product) - \Pi_{product.name} \big( \sigma_{c1.qty < c2.qty} ( \rho_{c1} contains \times \rho_{c2} contains) \bowtie Product \big)$

4. Indique o valor total de cada venda realizada.

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

## 3 Tradução do Modelo Relacional para SQL

### 3.1 Esquema Relacional (schema.sql)

Crie uma base de dados SQL correspondente ao esquema Relacional desenvolvido no ponto anterior.
Utilizando a linguagem SQL (DDL), apresente as instruções para criar o esquema de bases de dados correspondente ao modelo relacional desenvolvido. Deve certificar-se de que os tipos de dados e tamanhos de campo selecionados sejam os mais apropriados. As restrições aplicáveis a cada campo, linha e tabela também devem ser especificadas recorrendo às instruções NOT NULL, CHECK, PRIMARY KEY, UNIQUE e FOREIGN KEY conforme seja apropriado.


Nota: Apresente todas as restrições existentes no modelo Relacional que não podem ser capturadas (implementadas) no esquema SQL, escrevendo-as como comentários na tabela respectiva.

In [4]:
%reload_ext sql
%sql postgresql://db:db@postgres/db

Traceback (most recent call last):
  File "/home/uni_jesus/.local/lib/python3.10/site-packages/sql/connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "/home/uni_jesus/.local/lib/python3.10/site-packages/sqlalchemy/util/deprecations.py", line 283, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
  File "/home/uni_jesus/.local/lib/python3.10/site-packages/sqlalchemy/engine/create.py", line 601, in create_engine
    dbapi = dbapi_meth(**dbapi_args)
  File "/home/uni_jesus/.local/lib/python3.10/site-packages/sqlalchemy/dialects/postgresql/psycopg2.py", line 669, in import_dbapi
    import psycopg2
ModuleNotFoundError: No module named 'psycopg2'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Traceback (most recent call last):
  File "/home/uni_jesus/.local/lib/python3.10/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "/home/uni_jesus/.local/lib/python3.10/site-packages/sql/connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
  File "/home/uni_jesus/.local/lib/python3.10/site-packages/sql/connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "/home/uni_jesus/.local/lib/python3.10/site-packages/sqlalchemy/util/deprecations.py", line 283, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
  File "/home/uni_jesus/.local/lib/python3.10/site-packages/sqlalchemy/engine/create.py", line 601, in create_engine
    dbapi = dbapi_meth(**dbapi_args)
  File "/home/uni_jesus/.local/lib/python3.10/site-packages/sqlalchemy/dialects/postgresql/psycopg2.py", line 669, in import_dbapi
    import psycopg2
ModuleNotFoundError: No module named 'psycopg2'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [7]:
%%sql

CREATE TABLE Employee(
    ssn NUMERIC(12) PRIMARY KEY,
    tin NUMERIC(12) UNIQUE,
    bdate DATE,
    name VARCHAR(80)
);

CREATE TABLE Workplace(
    address VARCHAR(80) PRIMARY KEY,
    lat FLOAT,
    long FLOAT,
    UNIQUE(lat, long)
);

CREATE TABLE Department(
    name VARCHAR(80) PRIMARY KEY
);

CREATE TABLE Works(
    ssn NUMERIC(12) REFERENCES Employee,
    address VARCHAR(80) REFERENCES Workplace,
    name VARCHAR(80) REFERENCES Department,
    PRIMARY KEY (ssn, address, name)
);

CREATE TABLE Office(
    address VARCHAR(80) PRIMARY KEY,
    FOREIGN KEY (address) REFERENCES Workplace address
);

CREATE TABLE Warehouse(
    address VARCHAR(80) PRIMARY KEY,
    FOREIGN KEY (address) REFERENCES Workplace address
);

CREATE TABLE Product(
    sku NUMERIC(8) PRIMARY KEY,
    name VARCHAR(80),
    description VARCHAR(80),
    price FLOAT
);

CREATE TABLE Supplier(
    tin NUMERIC(12) PRIMARY KEY
    sku NUMERIC(8) NOT NULL REFERENCES Product,
    name VARCHAR(80),
    address VARCHAR(80),
    date DATE
);

CREATE TABLE EanProduct(
    sku NUMERIC(8) PRIMARY KEY,
    ean NUMERIC(13)
);

CREATE TABLE Delivery(
    address VARCHAR(80) REFERENCES Workplace,
    sku NUMERIC(8) REFERENCES Product, 
    tin NUMERIC(12) REFERENCES Supplier, 
    PRIMARY KEY (address, sku, tin)
);

CREATE TABLE Customer(
    cust_no NUMERIC(20) PRIMARY KEY,
    name VARCHAR(80),
    email VARCHAR(80) UNIQUE,
    phone NUMERIC(12),
    address VARCHAR(80)
);

CREATE TABLE Order(
    order_no NUMERIC(20) PRIMARY KEY, 
    cust_no NUMERIC(20) NOT NULL REFERENCES Customer,
    date DATE
);

CREATE TABLE Process(
    ssn NUMERIC(12) REFERENCES Employee,
    order_no NUMERIC(20) REFERENCES Order,
    PRIMARY KEY (ssn, order_no)
);

CREATE TABLE Contains(
    order_no NUMERIC(20) REFERENCES Order,
    sku NUMERIC(8) REFERENCES Product,
    qty NUMERIC(20),
    PRIMARY KEY (order_no, sku)
);

CREATE TABLE Sale(
    order_no NUMERIC(20) PRIMARY KEY,
    cust_no NUMERIC(20) NOT NULL REFERENCES Customer,
    FOREIGN KEY order_no REFERENCES Order order_no
);

-- schema.sql

-- DROP TABLE ...
-- CREATE TABLE ...

UsageError: Cell magic `%%sql` not found.

### 3.2 Carregamento da Base de Dados

Crie um script SQL (DML) com todas as instruções INSERT necessárias para criar alguns dados de teste sintéticos para facilitar a validação dos resultados esperados das consultas (lembre-se de que cada tabela deve conter pelo menos uma linha e que todas as consulta têm de retornar um resultado não vazio).

In [ ]:
%%sql
-- populate.sql

-- INSERT ...

INSERT INTO Employee (ssn, tin, bdate, name) 
VALUES (111111111, 123123123, '2003-08-12', 'Pedro Santos'),
       (222222222, 456456456, '2003-04-25', 'Andre Carvalho'),
       (333333333, 789789789, '2003-04-26', 'John Wick'); 

INSERT INTO Workplace(address, lat, long)
VALUES ('Morada Local Trabalho 1', 21.738, -78.019),
       ('Morada Local Trabalho 2', 09.883, 91.291),
       ('Morada Local Trabalho 3', 77.210, -32.009);

INSERT INTO Department(name)
VALUES ('Operations'),
       ('IT'),
       ('Logistics')
       ('Marketing');

INSERT INTO Works(ssn, address, name)
VALUES (111111111, 'Morada Local Trabalho 1', 'Operations'),
       (222222222, 'Morada Local Trabalho 2', 'Marketing'),
       (333333333, 'Morada Local Trabalho 2', 'IT');

INSERT INTO Office(address)
VALUES ('Morada Escritório 1'),
       ('Morada Escritório 2'),
       ('Morada Escritório 3');

INSERT INTO Warehouse(address)
VALUES ('Morada Armazém 1'),
       ('Morada Armazém 2'),
       ('Morada Armazém 3');

INSERT INTO Product(sku, name, description, price)
VALUES (11122233, 'Produto 1', 'Descricao Produto 1', 5.49),
       (22233344, 'Produto 2', 'Descricao Produto 2', 10.79),
       (33344455, 'Produto 3', 'Descricao Produto 3', 199.98);

INSERT INTO Supplier(tin, sku, name, address, date)
VALUES (987332121, 11122233, 'Joserda Esporreia', 'Endereço Fornecedor 1', '2020-01-01'),
       (999777532, 22233344, 'Armando Oliveira', 'Endereço Fornecedor 2', '2023-01-06'),
       (111998212, 33344455, 'Letício Ferreira', 'Endereço Fornecedor 3', '2022-04-29');

INSERT INTO EanProduct(sku, ean)
VALUES (11122233, 9876543219999),
       (11122233, 9876123411111);

INSERT INTO Delivery(address, sku, tin)
VALUES ('Endereço Entrega 1', 11122233, 111998212),
       ('Endereço Entrega 2', 22233344, 987332121),
       ('Endereço Entrega 3', 33344455, 987332121);

INSERT INTO Customer(cust_no, name, email, phone, address)
VALUES (1990, 'Nome Cliente 1', 'emailcliente1@hotmail.com', 919821223, 'Morada Cliente 1'),
       (1991, 'Nome Cliente 2', 'emailcliente2@gmail.com', 969988190, 'Morada Cliente 2'),
       (1992, 'Nome Cliente 3', 'emailcliente3@yahoo.com', 921006124, 'Morada Cliente 3');

INSERT INTO Order(order_no, cust_no, date)
VALUES (1, 1990, '2021-05-25'),
       (2, 1990, '2021-05-27'),
       (3, 1992, '2023-03-21');

INSERT INTO Process(ssn, order_no)
VALUES (111111111, 1),
       (333333333, 2),
       (333333333, 3);

INSERT INTO Contains(order_no, sku, qty)
VALUES (1, 11122233, 10),
       (1, 22233344, 2),
       (1, 33344455, 7),
       (2, 22233344, 200),
       (3, 11122233, 300),
       (3, 33344455, 5);

INSERT INTO Sale(order_no, cust_no)
VALUES (1, 1990),
       (3, 1992);

## 4 Linguagem SQL

Apresente a expressão SQL correspondente  a cada uma das interrogações de Álgebra Relacional.

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

In [ ]:
%%sql
 
SELECT customer.name
FROM order
JOIN product ON order.order_no = contains.order_no
JOIN customer ON places.cust_no = customer.cust_no
WHERE order.date = '2023' AND product.price > 50;

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

In [ ]:
%%sql

SELECT Employee.name
FROM Employee 
JOIN Works on Employee.ssn = Works.address
JOIN Warehouse ON Works.address = Warehouse.address
LEFT JOIN Office ON Works.address = Office.address
WHERE Office.address IS NULL;

3. Indique o nome do produto mais vendido;

In [ ]:
%%sql

-- SELECT ...

4. Indique o valor total de cada venda realizada.

In [ ]:
%%sql

-- SELECT ...