# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. Flávio Martins

### Grupo 45 - Turno BD2L19
<dl>
    <dt>5 horas (33.3%)</dt>
    <dd>ist1103902 Luís Pereira</dd>
    <dt>5 horas (33.3%)</dt>
    <dd>ist1103091 Pedro Curto</dd>
    <dt>5 horas (33.3%)</dt>
    <dd>ist1102664 Pedro Sousa</dd>
<dl>

# Empresa de comércio online

## 1 Conversão E-A para Modelo Relacional

Recorde a notação para o Modelo Relacional exposta nas aulas teóricas como se segue:

- relacaoA (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)
- relacaoB (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)

1. As relações são expressas por um nome seguido dos atributos entre parêntesis;
    - As chave primárias são expressas sublinhando os atributos que a compõem;
    - As chaves estrangeiras para outras relações são expressas através da lista de atributos que a compõem, seguida de “: FK(RelacaoDestino)”. A ordem dos atributos que compõem a FK deve corresponder à ordem dos atributos da chave na relação destino;
    - As chaves candidatas são expressas através da expressão “unique”, seguida da lista de atributos que a compõem entre parêntesis;
    - As restrições de integridade ao Modelo Relacional são descritas em termos dos conceitos deste modelo.

### 1.1 Modelo Relacional com Restrições de Integridade

1. Desenvolva um Modelo Relacional correspondente ao modelo Entidade-Associação;
2. Complemente a seu Modelo Relacional com um conjunto de Restrições de Integridade que represente o modelo E-A apresentado com a maior fidelidade.

- Employee(<u>ssn</u>, TIN, bdate, name)
    - UNIQUE(TIN)
- Workplace(<u>address</u>, lat, long)
    - UNIQUE(lat, long)
- Department(<u>name</u>)
- works(<u>ssn</u>, <u>address</u>, <u>name</u>)
    - ssn: FK(Employee)
    - address: FK(Workplace)
    - name: FK(Department)
- Office(<u>address</u>)
    - address: FK(Workplace)
- Warehouse(<u>address</u>)
    - address: FK(Workplace)
- Product(<u>sku</u>, name, description, price)
- Supplier(<u>TIN</u>, name, address, sku, date)
    - sku: FK(Product) NOT NULL
- EAN Product(<u>sku</u>, ean)
    - sku: FK(Product)
- delivery(<u>address</u>, <u>sku</u>, <u>TIN</u>)
    - address: FK(Workplace)
    - sku: FK(Product)
    - TIN: FK(Supplier)
- Customer(<u>cust_no</u>, name, email, phone, address)
    - UNIQUE(email)
- Order(<u>order_no</u>, date, cust_no)
    - cust_no: FK(Customer) NOT NULL
- process(<u>ssn</u>, <u>order_no</u>)
    - ssn: FK(Employee)
    - order_no: FK(Order)
- contains(<u>order_no</u>, <u>sku</u>, qty)
    - order_no: FK(Order)
    - sku: FK(Product)
- Sale(<u>order_no</u>, cust_no)
    - order_no: FK(Order)
    - cust_no: FK(Customer) NOT NULL
    
IC-1: Any ssn in Employee must exist in works.

IC-2: Any sku in Product must exist in Supplier.

IC-3: Any order_no in Order must exist in contains.

IC-4: When a Workplace is removed it must also be removed from Office and/or Warehouse.

IC-5: When a Product is removed it must also be removed from EAN Product.

IC-6: When an Order is removed it must also be removed from Sale.

### 1.2 Restrições de Integridade não passíveis de conversão

Identifique todas as Restrições de Integridade do modelo Entidade-Associação apresentado que não são passíveis de conversão para o modelo relacional.

IC-7: Customers can only pay for the Sale of an Order they have placed themselves.

## 2 Algebra Relacional

Recorde a notação exposta nas aulas teóricas como se segue:

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

#### Simbolos
- $\cup$ union 			
- $\cap$ intersection 		
- $-$ difference 		
- $\times$ cartesian product 
- $\div$ division 			
- $\rho$ rename 			
- $\bowtie$ natural join 		
- $\wedge$ Logical AND 	
- $\vee$ Logical OR 	
- $\neg$ Logical NOT 	

Considerando o modelo relacional desenvolvido, apresente as expressões algébricas correspondentes a cada uma das seguintes interrogações:

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

$\Pi_{customer.name} \big(\sigma_{order.date.year=2023 \wedge product.price>50} (order \bowtie product \bowtie customer \big))$

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

$\Pi_{employee.name} \big( (\sigma_{warehouse.address=works.address - workplace.address=Office}(works) \bowtie \sigma_{date.year=2023 \wedge date.month=01} (process)) \bowtie employee \big)$

3. Indique o nome do produto mais vendido;

$\Pi_{name}(Product) - \Pi_{name} \big( \sigma_{c1.qty < c2.qty} (\rho_{c1}(_{sku}G_{sum(qty)→qty}(contains)) \times \rho_{c2} (_{sku}G_{sum(qty)→qty}(contains))) \bowtie Product \big)$

4. Indique o valor total de cada venda realizada.

$_{order\_no}G_{sum(qty\times price)→sale\_price}(Sale \bowtie contains \bowtie Product)$

## 3 Tradução do Modelo Relacional para SQL

### 3.1 Esquema Relacional (schema.sql)

Crie uma base de dados SQL correspondente ao esquema Relacional desenvolvido no ponto anterior.
Utilizando a linguagem SQL (DDL), apresente as instruções para criar o esquema de bases de dados correspondente ao modelo relacional desenvolvido. Deve certificar-se de que os tipos de dados e tamanhos de campo selecionados sejam os mais apropriados. As restrições aplicáveis a cada campo, linha e tabela também devem ser especificadas recorrendo às instruções NOT NULL, CHECK, PRIMARY KEY, UNIQUE e FOREIGN KEY conforme seja apropriado.


Nota: Apresente todas as restrições existentes no modelo Relacional que não podem ser capturadas (implementadas) no esquema SQL, escrevendo-as como comentários na tabela respectiva.

In [37]:
%load_ext sql
%sql postgresql://db:db@postgres/db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [38]:
%sql --file schema.sql

*  postgresql://db:***@postgres/db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

### 3.2 Carregamento da Base de Dados

Crie um script SQL (DML) com todas as instruções INSERT necessárias para criar alguns dados de teste sintéticos para facilitar a validação dos resultados esperados das consultas (lembre-se de que cada tabela deve conter pelo menos uma linha e que todas as consulta têm de retornar um resultado não vazio).

In [39]:
%sql --file populate.sql

*  postgresql://db:***@postgres/db
9 rows affected.
12 rows affected.
9 rows affected.
9 rows affected.
6 rows affected.
6 rows affected.
9 rows affected.
9 rows affected.
7 rows affected.
9 rows affected.
9 rows affected.
9 rows affected.
9 rows affected.
19 rows affected.
6 rows affected.

[]

## 4 Linguagem SQL

Apresente a expressão SQL correspondente  a cada uma das interrogações de Álgebra Relacional.

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

In [40]:
%%sql
 
SELECT DISTINCT customer.name 
FROM customer
JOIN orders ON orders.cust_no = customer.cust_no
JOIN contains ON orders.order_no = contains.order_no
JOIN product ON contains.sku = product.sku
WHERE EXTRACT(YEAR FROM orders.date) = 2023 AND product.price > 50;

*  postgresql://db:***@postgres/db
3 rows affected.

[('Nome Cliente 3',), ('Nome Cliente 6',), ('Nome Cliente 7',)]

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

In [41]:
%%sql

SELECT employee.name
FROM employee 
JOIN works USING(ssn)
JOIN warehouse USING(address)
LEFT JOIN office USING(address)
JOIN process USING(ssn)
JOIN orders USING(order_no)
WHERE office.address IS NULL 
AND EXTRACT(YEAR FROM orders.date) = 2023 
AND EXTRACT(MONTH FROM orders.date) = 01;

*  postgresql://db:***@postgres/db
2 rows affected.

[('Empregado 3',), ('Empregado 7',)]

3. Indique o nome do produto mais vendido;

In [42]:
%%sql

SELECT Product.name
FROM Product
JOIN (
    SELECT Contains.sku, SUM(Contains.qty) AS productQuantity
    FROM Contains
    JOIN Orders ON Contains.order_no = Orders.order_no
    JOIN Sale ON Orders.order_no = Sale.order_no
    GROUP BY Contains.sku
) productQuantities ON Product.sku = productQuantities.sku
ORDER BY productQuantity DESC
LIMIT 1;

*  postgresql://db:***@postgres/db
1 rows affected.

[('Produto 1',)]

4. Indique o valor total de cada venda realizada.

In [43]:
%%sql

SELECT s.order_no, SUM(qty*price) as total_value
FROM 
    sale AS s,
    contains AS c,
    product AS p
WHERE
    c.order_no = s.order_no
GROUP BY s.order_no
ORDER BY s.order_no;

*  postgresql://db:***@postgres/db
6 rows affected.

[(Decimal('1'), Decimal('32028.11')),
 (Decimal('2'), Decimal('337138.00')),
 (Decimal('3'), Decimal('1694118.45')),
 (Decimal('4'), Decimal('38770.87')),
 (Decimal('7'), Decimal('674276.00')),
 (Decimal('9'), Decimal('525935.28'))]